body {
  background-color: #f5f5f5 !important;
}

header {
  background-color: white;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.perfil a {
  padding: 10px;
}

.inicio {
  background-image: url("../media/img/vela-inicio.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-inicio {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px 20px 5px;
}

.info-inicio button {
  background-color: #56b280;
  border-radius: 4px;
  border: 0;
  color: white;
}

.productos {
  align-items: center;
}

h2 p .productos {
  text-align: center;
}

#texto-productos {
  text-align: center;
}

.velas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vela {
  background-color: #f7f8fa;
}

.vela img {
  width: 100%;
}

.contenido-vela {
  margin: 15px;
}

.descripcion-vela {
  background-color: white;
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 16px;
}

.precio-vela {
  text-align: right;
  color: #56b280;
}

#texto-benefits {
  color: #56b280;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
}

.benefits .texto-izquierda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 70px;
}

.benefits ul li {
  padding: 2px;
}

.benefits button {
  background-color: #56b280;
  color: #f5f5f5;
  border-radius: 4px;
  border: 0;
  width: 194px;
  height: 40px;
}

#texto-testimonios {
  text-align: center;
}

.testimonios .reseñas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.reseña {
  background-color: white;
  width: 350px;
  height: 295px;
  align-items: center;
  text-align: center;
}

.reseña p {
  color: #ccd4e0;
}

.testimonios {
  background-color: #cff5e0;
  padding-top: 50px;
}

.populares .velas-populares {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

#texto-populares {
  text-align: center;
}

footer {
  background-color: black;
  width: 100%;
  padding-top: 50px;
}

.footer-content {
  margin-left: 50px;
  margin-right: 50px;
  border-top: white solid 1px;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-logo img {
  width: 200px;
  height: 80px;
  padding-top: 20px;
}

.footer-logo p {
  color: #f7f8fa;
  padding-top: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 50%;
}

nav h5 {
  color: #56b280;
}

nav p {
  color: #f5f5f5;
}

footer a {
  color: #f5f5f5;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#copyright {
  color: #5e6e89;
}
